node_modules/

/deploy/logs/
*.log
/deploy/redis_data
/deploy/cassandra_data
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.pid.lock
dist/
build/
jspm_packages/
.node_repl_history
.vscode/
.idea/
.DS_Store
.hooks/
.env

